<div class="footer">
  <p>
    Made with
    <span style="color: red;">&hearts;</span>
    <span>by</span>
    <a href="http://sumninjacode.io"> Sumedha Pramod</a>
    <span>&#124;</span>
    <a href='https://github.com/pramodsum/ammablog/issues'>Issues</a>
  </p>
</footer>
