{{!< error-default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<div class="container-fluid">
  <div class="post-index">
    <div class="posts-container">
      <center>
        <h1>
          { <a href="#">404 - Page Not Found</a> }
          <br>
          <small>
            We're sorry! The page you are looking for is currently still at large, but don't worry! We've got our best man on the case!
          </small>
        </h1>
      </center>
      <div>
          <img src="https://s3-us-west-2.amazonaws.com/sumninjacode/img/404.png">
      </div>
    </div>
  </div>
</div>