{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<div class="container-fluid post-index">
  <div class="col-sm-3 sidebar text-center">
    {{> "sidebar"}}
  </div>
  <div class="col-sm-9">
    {{> "loop"}}
  </div>
</div>