{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<div class="col-sm-3 sidebar">
  <h4 class="text-center other-blogs">Other Cool Blogs</h4>
  <ul class="text-center">
    <li><a href="http://uppukhara.com">UPPUKHARA</a></li>
  </ul>
  <hr>
  {{!-- <img class="divider" src="{{asset "images/divider-mixer.png"}}"> --}}
  <img class="about img-circle" src="{{asset "images/about.jpg"}}">
  <div class="text-center about-desc">
    <p><a href="{{@blog.url}}/about" class="about-title">About</a></p>
    <p>Welcome to the blog of Sumu and Anu, wayfaring adventurers and aspiring home cooks.</p>
    <p><a href="mailto:team@cookinginpjs.com">Email us!</a></p>
  </div>
</div>
<div class="col-sm-9">
  {{> "loop"}}
</div>