{{!< about-default}}



{{!-- <img class="img-responsive img-rounded" src="{{asset "images/monkeys.jpg"}}"> --}}
<center>
  <img src="{{asset "images/about.jpg"}}">
  <div class="intro">
      <h3>
          <span id="about-heading">Hello and welcome :)</span>
          <br>
          <small>
              This is the blog of Sumu and Anu, wayfaring adventurers and aspiring home cooks.
          </small>
      </h3>
  </div>
</center>
<hr>

{{#post}}
{{content}}
{{/post}}

<center><p>Email both of us at <a href="mailto:team@cookinginpjs.com">team@cookinginpjs.com</a>.<br>If you want to contact either of us individually, please email <a href="mailto:sumu@cookinginpjs.com">Sumedha</a> or <a href="mailto:anu@cookinginpjs.com">Anagha</a></center>
</p>

<hr>

{{!-- TODO: MAYBE PUT PINTEREST WIDGET INSTEAD? --}}
{{!-- <div id="pinterest-widget">
  <a data-pin-do="embedBoard"
    href="https://www.pinterest.com/pramodsum/cooking-in-pajamas/"
    data-pin-scale-height="480"
    data-pin-scale-width="220"></a>
</div> --}}

{{!-- RECIPE HIGHLIGHTS --}}
<div class="post-preview">
  <h2 id="about">*Cue Drool*</h2>
  <div id="instafeed"></div>
</div>
