{{!< default}}

<div class="container-fluid">
  <div class="post-index">
    <div class="posts-container">
        <div class="row">
            <div class="col-xs-4">
                <img class="img-responsive img-rounded" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/60763_10151408413374384_1785050972_n.jpg?oh=1b5a1cfd62e249457c1a6d18b8a9102d&oe=54C17546">
            </div>
            <div class="col-xs-8">
                <center><p>
                    <h3>
                        Hello and welcome :)
                        <br>
                        <small>
                            This is the blog of Sumu and Anu, wayfaring adventurers and aspiring home cooks.
                        </small>
                    </h3>
                </p></center>

                <p>We've known each other pretty much forever, and this blog is our way of documenting our culinary exploits, and some non-culinary exploits as well. We're not always on the same page, or in the same state, or even on the same continent, but two things are generally true: at least one of us is not paying attention, and at least one of us is wearing her pajamas.</p>

                <center><p>Email both of us at <a href="mailto:team@cookinginpjs.com">team@cookinginpjs.com</a>.<br>If you want to contact either of us individually, please email <a href="mailto:sumu@cookinginpjs.com">Sumedha</a> or <a href="mailto:anu@cookinginpjs.com">Anagha</a></center>
                </p>
            </div>
        </div>
    </div>
  </div>
</div>