/* 
FONTS
*/

h1, h2, h3, h4, h5, h6, footer { 
  font-family: fox__catregular; 
  text-transform: uppercase; 
}
.post-meta, input, .sidebar a, .post-footer, .btn, .page-number,
.older-posts, .newer-posts { 
  font-family: fox__catregular; 
  text-transform: uppercase; 
}

.page-number, footer { color: #92b3d4; }

header h1 {
  font-family: grutchshadedregular; 
  /*text-transform: capitalize;*/
  text-align: center;
  font-weight: lighter;
  font-size: 10rem;
}

#posts h1, .post-index h1 
#posts h2, .post-index h2
#posts h3, .post-index h3
#posts h4, .post-index h4
#posts h5 .post-index h5 { line-height: 1; }

.post-index h1, #posts h1 { font-size: 4.0rem; }
.post-index h2, #posts h2 { font-size: 3rem; }
.post-index h3, #posts h3 { font-size: 2.5rem; }
.post-index h4, #posts h4 { font-size: 2rem; }
.post-index h5, #posts h5 { font-size: 1.5rem; }
.post-index, #posts, .recipe { font-size: 1.75rem; }

.sidebar { font-size: 1.5rem; }
.sidebar h2 { font-size: 2.6rem; }
.sidebar h3 { font-size: 2rem; }
.sidebar input { font-size: 1rem; }

.sidebar input.form-control,
.sidebar button, 
.sidebar #mc-embedded-subscribe,
.sidebar #search-submit { font-size: 1.5rem; }
.social-fixed a.btn { font-size: 1.5rem; }

/* Smaller than phablet */
@media (max-width: 750px) {
  .error h1 { font-size: 4rem; }
  .error h1 small { font-size: 2rem; }

  .post-index, #posts, .recipe { font-size: 1.75rem; }

  .sidebar { font-size: 1.25rem; }
  .sidebar h2 { font-size: 2rem; }
  .sidebar h3 { font-size: 1.5rem; }
  .sidebar form input, 
  .sidebar input.form-control,
  .sidebar button, 
  .sidebar #mc-embedded-subscribe,
  .sidebar #search-submit { font-size: 1rem; }
  .social-fixed a.btn { font-size: 1.5rem; }
}

@media (max-width: 550px) {
  .sidebar { font-size: 1.3rem; }
  .sidebar h2 { font-size: 2.5rem; }
  .sidebar h3 { font-size: 1.5rem; }

  .post-index h1, #posts h1 { font-size: 3rem; }
  .post-index h2, #posts h2 { font-size: 2rem; }
  .post-index h3, #posts h3 { font-size: 1.5rem; }
  .post-index h4, #posts h4 { font-size: 1rem; }
  .post-index h5, #posts h5 { font-size: 0.5rem; }
  .post-index, #posts, .recipe { font-size: 1.5rem; }

  header h1 { font-size: 7rem; }

  .sidebar { font-size: 1.25rem; }
  .sidebar h2 { font-size: 2rem; }
  .sidebar h3 { font-size: 1.5rem; }
  .sidebar input { font-size: 1rem; }

  .sidebar input.form-control,
  .sidebar button, 
  .sidebar #mc-embedded-subscribe,
  .sidebar #search-submit { font-size: 1.5rem; }
  .social-fixed a.btn { font-size: 1.5rem; }
}

a { text-decoration: none; color: grey;}
a:hover, a:focus { color: #92b3d4;}

/*
FONT DEFINITIONS 
 */
@font-face {
  font-family: 'fox__catregular';
  src: url('../fonts/Fox & Cat-webfont.eot');
  src: url('../fonts/Fox & Cat-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Fox & Cat-webfont.woff2') format('woff2'),url('../fonts/Fox & Cat-webfont.woff') format('woff'),url('../fonts/Fox & Cat-webfont.ttf') format('truetype'),url('../fonts/Fox & Cat-webfont.svg#fox__catregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grutchshadedregular';
  src: url('../fonts/GrutchShaded-webfont.eot');
  src: url('../fonts/GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/GrutchShaded-webfont.woff2') format('woff2'),url('../fonts/GrutchShaded-webfont.woff') format('woff'),url('../fonts/GrutchShaded-webfont.ttf') format('truetype'),url('../fonts/GrutchShaded-webfont.svg#grutchshadedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'end_of_the_dreamregular';
  src: url('../fonts/End of the dream-webfont.eot');
  src: url('../fonts/End of the dream-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/End of the dream-webfont.woff2') format('woff2'),url('../fonts/End of the dream-webfont.woff') format('woff'),url('../fonts/End of the dream-webfont.ttf') format('truetype'),url('../fonts/End of the dream-webfont.svg#end_of_the_dreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}