@font-face {
  font-family: 'dilemhandwrittenmedium';
  src: url('../fonts/DilemHandwritten-webfont.eot');
  src: url('../fonts/DilemHandwritten-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DilemHandwritten-webfont.woff2') format('woff2'),
  url('../fonts/DilemHandwritten-webfont.woff') format('woff'),
  url('../fonts/DilemHandwritten-webfont.ttf') format('truetype'),
  url('../fonts/DilemHandwritten-webfont.svg#dilemhandwrittenmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fox__catregular';
  src: url('../fonts/Fox & Cat-webfont.eot');
  src: url('../fonts/Fox & Cat-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Fox & Cat-webfont.woff2') format('woff2'),
  url('../fonts/Fox & Cat-webfont.woff') format('woff'),
  url('../fonts/Fox & Cat-webfont.ttf') format('truetype'),
  url('../fonts/Fox & Cat-webfont.svg#fox__catregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'coalhandlukecoalhandluketrial';
  src: url('../fonts/CoalhandLuke TRIAL-webfont.eot');
  src: url('../fonts/CoalhandLuke TRIAL-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CoalhandLuke TRIAL-webfont.woff2') format('woff2'),
  url('../fonts/CoalhandLuke TRIAL-webfont.woff') format('woff'),
  url('../fonts/CoalhandLuke TRIAL-webfont.ttf') format('truetype'),
  url('../fonts/CoalhandLuke TRIAL-webfont.svg#coalhandlukecoalhandluketrial') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'grutchshadedregular';
  src: url('../fonts/GrutchShaded-webfont.eot');
  src: url('../fonts/GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GrutchShaded-webfont.woff2') format('woff2'),
  url('../fonts/GrutchShaded-webfont.woff') format('woff'),
  url('../fonts/GrutchShaded-webfont.ttf') format('truetype'),
  url('../fonts/GrutchShaded-webfont.svg#grutchshadedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'end_of_the_dreamregular';
  src: url('../fonts/End of the dream-webfont.eot');
  src: url('../fonts/End of the dream-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/End of the dream-webfont.woff2') format('woff2'),
  url('../fonts/End of the dream-webfont.woff') format('woff'),
  url('../fonts/End of the dream-webfont.ttf') format('truetype'),
  url('../fonts/End of the dream-webfont.svg#end_of_the_dreamregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body { font-size: 0.8rem; }
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.5rem; }

@media (min-width: 270px) {
  body { font-size: 1rem; }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 0.8rem; }
  h6 { font-size: 0.5rem; }

  .sidebar input.form-control, 
  .sidebar button {
    font-size: 1rem;
    padding: 2px 4px;
    padding-top: 4px;
    height: auto;
  }

  .social-fixed a.btn {
    width: 20px;
    font-size: 1rem;
    padding: 2px;
  }
}

@media (min-width: 375px) {
  body { font-size: 1rem; }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 0.8rem; }
  h6 { font-size: 0.5rem; }

  .sidebar input.form-control, 
  .sidebar button {
    font-size: 1.2rem;
    padding: 3px 6px;
    padding-top: 6px;
    height: auto;
  }
}

@media (min-width: 638px) {
  body { font-size: 1.5rem; }
  h1 { font-size: 3rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 2rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1rem; }

  .sidebar input.form-control, 
  .sidebar button {
    font-size: 1.5rem;
    padding: 4px 8px;
    padding-top: 8px;
    height: auto;
  }

  .social-fixed a.btn {
    width: 39px;
    font-size: 1.5rem;
    padding: 4px 2px;
    padding-top: 8px;
  }
}

@media (min-width: 1200px) {
  body { font-size: 1.8rem; }
  h1 { font-size: 4rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.5rem; }
  h4 { font-size: 2rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1rem; }
}