/* Sticky footer styles
-------------------------------------------------- */

.footer {
  width: 100%;
  background-color: #ffec82;
  padding: 0 15px;
  position: absolute;
  color: black;
}


 .footer p {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

 .footer .ion-heart {
    color: pink;
  }