/* Add subtle load-in animation for content on the home page */
.page-title {
 -webkit-animation: fade-in-down 0.6s;
 animation: fade-in-down 0.6s;
 -webkit-animation-delay: 0.2s;
 animation-delay: 0.2s;
}
.page-description {
 -webkit-animation: fade-in-down 0.9s;
 animation: fade-in-down 0.9s;
 -webkit-animation-delay: 0.1s;
 animation-delay: 0.1s;
}

header ul {
  margin-bottom: 0;
}

.social a:hover,
.social a:focus {
 background: transparent;
}

.logo:hover,
.logo:focus {
 background: transparent;
 -webkit-animation-name: hvr-wobble-skew;
 animation-name: hvr-wobble-skew;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-timing-function: ease-in-out;
 animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
}

header {
 font-family: fox__catregular;
 text-transform: uppercase;
}

header h1 {
  font-family: fox__catregular;
  font-weight: normal;
  text-align: center;
}

header h5 {
  font-family: grutchshadedregular;
  font-size: 2.1rem;
  color: #92b3d4;
}