.navbar {
  background: white;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav>li>a{
  text-align: center
}
button.navbar-toggle  {
  padding: 5px;
  margin-right: 0;
}
button.navbar-toggle img{
  width: 25px;
  height: 25px;
}

.col-xs-10 {
  padding-right: 0;
} 
.col-xs-2 {
  padding-left: 0;
}

.col-xs-2 img, .col-xs-10 img {
  margin-top: 30px;
  margin-bottom: 10px;
}

.col-xs-10 img {
  margin-top: 50px;
}

ul.nav.navbar-nav {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar {
  margin-top: 15px;
}

.navbar {
  padding: 0;
}

ul.nav.navbar-nav li a {
  padding: 7px 5px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  ul.nav.navbar-nav li a {
    padding: 15px 5px;
  }
}