ul.social-fixed {
  position: fixed;
  bottom: 100px;
  z-index: 15000;
  padding-left: 0px
}
  .social-fixed a.btn {
    background: #ffec82;
    color: black;
    border-radius: 0;
    width: 39px;
  }
  .social-fixed a.btn:hover,
  .social-fixed a.btn:focus {
    background: white;
    color: #92b3d4;
    border-color: black;
  }
  .social-fixed a.btn.twitter {
    background: #55acee;
    color: white;
  }
  .social-fixed a.btn.twitter:hover,
  .social-fixed a.btn.twitter:focus {
    background: white;
    color: #55acee;
  }
  .social-fixed a.btn.facebook {
    background: #3b5998;
    color: white;
  }
  .social-fixed a.btn.facebook:hover,
  .social-fixed a.btn.facebook:focus {
    background: white;
    color: #3b5998;
  }
  .social-fixed a.btn.gplus {
    background: #dd4b39;
    color: white;
  }
  .social-fixed a.btn.gplus:hover,
  .social-fixed a.btn.gplus:focus {
    background: white;
    color: #dd4b39;
  }

.post-index{
  margin: auto;
  background: white;
  width: 91%;
  max-width: 935px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

  .post-index {
    padding: 2em 0 !important;
  }
      .post-index h1 a {
        color: black;
      }

      .post-index h1 a:hover,
      .post-index h1 a:focus {
        color: #ffec82;
        text-decoration: none;
        text-shadow: 1px 1px black;
      }

    .post-index .date {
      color: #92b3d4;
    }

@media (min-width: 768px) {
  .post-index {
    max-width: 654px;
  }
}

@media (min-width: 860px) {
  .post-index {
    max-width: 654px;
  }
}

@media (min-width: 992px) {
  .post-index {
    max-width: 860px;
  }
}

@media (min-width: 1200px) {
  .post-index {
    max-width: 965px;
  }
}

.spacer {
  margin-top:50px;
  position:relative;
}

  .spacer .mask {
    overflow:hidden; height:20px;
  }
    .spacer .mask &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }

small {
  color: #92b3d4;
}