.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding-top: 7px;
}

.sidebar h1, 
.sidebar h2, 
.sidebar h3, 
.sidebar h4, 
.sidebar h5, 
.sidebar h6 {
  font-family: end_of_the_dreamregular;
}

.sidebar form,
.sidebar button,
.sidebar.btn,
#mc-embedded-subscribe {
  text-transform: uppercase;
}

.sidebar input {
  text-align: center;
}

.sidebar img.divider {
  padding-top: 15px;
}

#mc-embedded-subscribe,
#search-submit {
  padding-bottom: 0;
  background: #92b3d4;
  color: white;
  border: none;
}

#mc-embedded-subscribe:hover,
#mc-embedded-subscribe:focus,
#search-submit:hover,
#search-submit:focus {
  background: #ffec82;
  color: black;
}

#search-field {
  margin-bottom: 10px
}