.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding-top: 7px;
}

.sidebar h1, 
.sidebar h2, 
.sidebar h3, 
.sidebar h4, 
.sidebar h5, 
.sidebar h6 {
  font-family: end_of_the_dreamregular;
}

.sidebar form,
.sidebar button {
  text-transform: uppercase;
}

.sidebar input {
  text-align: center;
}

.sidebar img.divider {
  padding-top: 15px;
}