@import "external.css";
@import "skeleton.css";

/* 
FONTS
*/

h1, h2, h3, h4, h5, h6 { 
  font-family: fox__catregular; 
  text-transform: uppercase; 
}
.post-meta, input, .sidebar a, .post-footer, .btn { 
  font-family: fox__catregular; 
  text-transform: uppercase; 
}

header h1 {
  font-family: grutchshadedregular; 
  /*text-transform: capitalize;*/
  text-align: center;
  font-weight: lighter;
}

a { text-decoration: none; color: grey;}
a:hover, a:focus { color: #1EAEDB;}

/* 
HEADER 
*/

header {
  padding-top: 100px;
  padding-bottom: 20px;
}

header h1 {
  font-size: 10rem;
  /*background-image: url("../images/pants.png") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;*/
}

#top-bar {
  font-family: fox__catregular;
  background:#fff;
  width:100%;
  height:51px;
  position:fixed;
  z-index:9999;
  box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
  -webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
  -moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
  -webkit-backface-visibility: hidden;
}
#top-bar .container {
  position:relative;
}

  /*** Menu ***/
  #nav-wrapper, #nav-wrapper .menu ul {
    text-align: center;
  }
  
  .slicknav_menu { display:none; }

  #nav-wrapper .menu li {
    display:inline-block;
    margin-right:28px;
    position:relative;
  }
  #nav-wrapper .menu li a {
    font-size:10px;
    text-transform:uppercase;
    letter-spacing:1px;
    line-height:51px;
    display:block;
  }
  #nav-wrapper .menu li.current-menu-item > a, #nav-wrapper .menu li.current_page_item > a {
    font-weight:700;
  }

/* 
BODY 
*/

body {
  padding: 0;
  margin: 0;
}

/* 
BUTTONS & INPUTS
*/

.button-primary {
  font-family: fox__catregular;
  background-color: #1EAEDB;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #1EAEDB;
  color: white;
}

input {
  font-size: 0.8rem;
}

/*
ALERT DISMISSABLE
 */

.alert {
  background: #FFEC96;
  margin-top: 15px;
  margin-bottom: 0;
}

.subscribe-bottom {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 15000;
  background: #FFEC96;
  padding: 10px;
  max-width: 250px;
  border: 1px #000;
  border-radius: 5px;
}

.subscribe-bottom>div {
  border: 1px dashed grey;
  border-color: rgba(124, 124, 124, 0.5);
  padding: 10px;
}

.subscribe-bottom button.close {
  right: 0;
  top: -5px;
}

/*
FONT DEFINITIONS 
 */


@font-face {
  font-family: 'fox__catregular';
  src: url('../fonts/Fox & Cat-webfont.eot');
  src: url('../fonts/Fox & Cat-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Fox & Cat-webfont.woff2') format('woff2'),url('../fonts/Fox & Cat-webfont.woff') format('woff'),url('../fonts/Fox & Cat-webfont.ttf') format('truetype'),url('../fonts/Fox & Cat-webfont.svg#fox__catregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grutchshadedregular';
  src: url('../fonts/GrutchShaded-webfont.eot');
  src: url('../fonts/GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/GrutchShaded-webfont.woff2') format('woff2'),url('../fonts/GrutchShaded-webfont.woff') format('woff'),url('../fonts/GrutchShaded-webfont.ttf') format('truetype'),url('../fonts/GrutchShaded-webfont.svg#grutchshadedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'end_of_the_dreamregular';
  src: url('../fonts/End of the dream-webfont.eot');
  src: url('../fonts/End of the dream-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/End of the dream-webfont.woff2') format('woff2'),url('../fonts/End of the dream-webfont.woff') format('woff'),url('../fonts/End of the dream-webfont.ttf') format('truetype'),url('../fonts/End of the dream-webfont.svg#end_of_the_dreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}