@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
@import "http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css";
@import "comments.css";
@import "btn.css";
@import "footer.css";
@import "posts.css";
@import "header.css";
@import "common.css";

.content{
  padding: 30px 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 100px;
}

.content-title{
  padding: 20px 0;
}

img {
  margin: auto;
  border-radius: 10px;
  display: block;
  max-width: 100%;
  height: auto;
}