<p>
  <center>
    <h1>500 Error: Internal Error</h1>
  </center>
  <h1>
    <small>Flag on the play! Our coding T-Rex seems to have messed up... Let us know what happened so we can fix it!
      <%= image_tag '500.png', :class => 'img-responsive' %>
    </small>
  </h1>
</p>
