<p>
  <center>
    <h1>404 Error: Page Not Found</h1>
  </center>
  <h1>
    <small>
      We can't find the page you're looking for. But have no fear! We've got our best men on it! Let us know what happened so we can fix it!
      <%= image_tag '404.png', :class => 'img-responsive' %>
    </small>
  </h1>
</p>
