<p>
  <center>
    <h1>422 Error: Unprocessable Entity</h1>
  </center>
  <h1>
    <small>
      Our coding T-Rex seems to be coding in Klingon again... Let us know what happened so we can fix it!
      <%= image_tag '500.png', :class => 'img-responsive' %>
    </small>
  </h1>
</p>
