<div class="article-wrap sc content-bg">
  <div class="article-wrap-inner">
    <div class="article-header normal" data-role="header">
      <div class="article-title-wrap"><span class="article-date article-meta-item">
<span>post.created_at</span>
        </span>
        <h1 class="article-title">post.title</h1>
      </div>
    </div>
    <div class="article-content sc" data-role="content">

    </div>
  </div>
</div>
