// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "bootstrap-sprockets";
@import "bootstrap";

// Dashboard and main admin page
.index {
  #header {
    background: #428bca;
    border: none;
    h1, ul li a {
      color: white;
    }

    ul.tabs > li.current > a, 
    ul.tabs > li > a:hover, 
    ul.tabs > li > a:focus {
      color: grey;
      text-shadow: none;
      background: #ffec82;
      border-radius: 3px;
    }
  }
  #title_bar {
    background: #eee;
    border: none;
  }

  th.col, 
  .sidebar_section > h3 {
    background: #eee;
  }

  th.sortable.sorted-asc.col, 
  th.sortable.sorted-desc.col {
    background: #ddd;
  }

  .buttons input {
    text-shadow: none;
    color: white;
    background: grey;
    border-radius: 3px;
  }

  .buttons input:hover,
  .buttons input:focus {
    color: grey;
    background: #eee !important;
    border-color: #c7c7c7;
  }

  span.action_item, 
  .buttons .clear_filters_btn,
  #title_bar .action_items span.action_item > a,
  a.dropdown_menu_button {
    text-shadow: none;
    background: #ffec82;
    border-radius: 3px;
  }

  span.action_item:hover,
  span.action_item:focus, 
  .buttons .clear_filters_btn:hover,
  .buttons .clear_filters_btn:focus {
    text-shadow: none;
    background: #eee !important;
    border-radius: 3px;
  }
}

// Login/Logout page
body.logged_out {
  background: #428bca;

  #content_wrapper #active_admin_content {
    border-radius: 5px;
  }

  h2 {
    background: #ffec82 !important;
    color: #5e6469;
    text-shadow: none;
    border-radius: 3px;
  }

  .label {
    color: grey;
  }

  form input[type=submit] {
    text-shadow: none;
    color: white;
    background: grey;
    border-radius: 3px;
  }

  form input[type=submit]:focus,
  form input[type=submit]:hover {
    color: grey;
    background: #eee !important;
    border-color: #c7c7c7;
  }
}