@import "bootstrap-sprockets";
@import "bootstrap";
 footer {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  background-color: #000;
  color: #eee;
  text-align: center;
  p {
    line-height: 100px;
  }
}
body {
  @extend container;
  background-image: url(asset-path('bg.jpg')) !important;
  background-repeat: repeat;
  line-height: 1;
  color: black;
  background: white
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none
}
section,
article,
header,
footer,
nav,
aside,
hgroup {
  display: block
}
.dropshadow-topbottom {
  display: none
}

.nav {
  @extend center;
}

.main-content {
  margin-bottom: 40px;
}

@import 'header';
@import 'footer';
@import 'posts';
@import 'comments';
@import 'github';
