.post-index{
  margin: auto;
  background: white;
  width: 91%;
  max-width: 935px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .posts-container {
    padding: 2em !important;
  }
}

@media (min-width: 768px) {
  .post-index {
    max-width: 654px;
  }
}

@media (min-width: 992px) {
  .post-index {
    max-width: 860px;
  }
}

@media (min-width: 1200px) {
  .post-index {
    max-width: 965px;
  }
}
