.post-index{
  margin: auto;
  background: white;
  width: 91%;
  max-width: 935px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .posts-container {
    padding: 2em !important;
  }
}
