.post-index{
  margin: auto;
  background: white;
  width: 91%;
  max-width: 935px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .posts-container {
    padding: 2em !important;

    h1 {
      a {
        color: black;
      }

      a:hover, a:focus {
        color: #ffec82;
        text-decoration: none;
        text-shadow: 1px 1px black;
      }
    }

    .date {
      color: #92b3d4;
    }
  }
}

@media (min-width: 768px) {
  .post-index {
    max-width: 654px;
  }
}

@media (min-width: 992px) {
  .post-index {
    max-width: 860px;
  }
}

@media (min-width: 1200px) {
  .post-index {
    max-width: 965px;
  }
}

.spacer {
  margin-top:50px;
  position:relative;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
}

small {
  color: #92b3d4;
}
