{{!-- 2016 Challenge --}}
<script src="../assets/js/moment-timezone-with-data.js"></script>
<script src="../assets/js/firebase.js"></script>
<script src="../assets/js/challenge.js"></script>

<h2>2016 Post Challenge</h2>
<p>Keep us on our toes! Here's how we're doing on our 2016 New Years post challenge!</p>
<div id="challenge-count" class="row">
  <div class="one-half column"><center>
    <image id="anu" class="author-thumb" src="{{asset "images/anu.jpeg"}}"><br>
    <a href="{{@blog.url}}/tag/anuchallenge2016">
      <div>Anu</div>
      <div id="anagha-count"></div>
      <div id="anagha-donate"></div>
    </a>
  </center></div>
  <div class="one-half column"><center>
    <image id="sumu" class="author-thumb" src="{{asset "images/sumu.jpeg"}}"><br>
    <a href="{{@blog.url}}/tag/sumuchallenge2016">
      <div>Sumu</div>
      <div id="sumedha-count"></div>
      <div id="sumedha-donate"></div>
    </a>
  </center></div>
</div>