<div class="footer">
  <p>
    Made with
    <span class="ion-heart"></span> by
    <a href="http://sumninjacode.io"> Sumedha Pramod </a>

    <span>&#124;</span>

    <a href="mailto:issues@cookinginpjs.com"> Issues</a>
  </p>
</div>
