<footer>
  <p>
    Made with
    <span class="ion-heart"></span> by
    <a href="http://sumninjacode.io"> Sumedha Pramod </a>

    <br>

    Notice anything weird/broken? 
    <a href="mailto:issues@cookinginpjs.com"> Let me fix it!</a>
  </p>
</footer>
