<header>
  <div class="row">
    <div class="col-xs-10">
      <a href="{{@blog.url}}">
        <img src="{{asset "images/logo.png"}}">
      </a>
    </div>
    <div class="col-xs-2">
      <a href="{{@blog.url}}">
        <img src="{{asset "images/pants.png"}}">
      </a>
    </div>
  </div>
  <div class="row">
    {{> "navbar2"}}
  </div>
</header>
