<style>
  .ribbon {
    max-width: 694px;
    height: 157px;
  }
  .ribbon-content {
    height: 145px !important; 
  }

  @media (min-width: 290px) {
    .ribbon {
      max-width: 694px;
      height: 157px;
    }
    .ribbon-content {
      height: 145px !important; 
    }
  }

  @media (min-width: 400px) {
    .ribbon {
      max-width: 694px;
      height: 122px;
    }
    .ribbon-content {
      height: 110px !important; 
    }
  }


  @media (min-width: 413px) {
    .ribbon {
      max-width: 694px;
      height: 89px;
    }
    .ribbon-content {
      height: 77px !important; 
    }
  }

  @media (min-width: 992px) {
    .ribbon {
      max-width: 896px;
      height: auto;
    }
    .ribbon-content {
      height: auto !important; 
    }
  }

  @media (min-width: 1200px) {
    .ribbon {
      max-width: 1000px;
      height: auto;
    }
    .ribbon-content {
      height: auto !important; 
    }
  }
</style>

<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <div class="alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <center>Have you subscribed to our blog yet? If not, you should <a class="alert-link" href="http://eepurl.com/7YH6z">do it now</a> :)</center>
      </div>
      <a href="{{@blog.url}}">
        <img src="https://s3-us-west-2.amazonaws.com/cookinginpjs/header.png" width="955" height="544"></img>
      </a>
    </div>
      <div class="row">
        {{> "navbar"}}
      </div>
  </div>
</header>
