<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <a href="./">
        <img src="https://s3-us-west-2.amazonaws.com/cookinginpjs/header.png" width="955" height="544"></img>
      </a>
    </div>
      <div class="row">
        {{> "navbar"}}
      </div>
  </div>
</header>
