<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <div class="alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <center>Have you subscribed to our blog yet? If not, you should <a class="alert-link" href="http://eepurl.com/7YH6z">do it now</a> :)</center>
      </div>
      <a href="{{@blog.url}}">
        <img src="https://s3-us-west-2.amazonaws.com/cookinginpjs/header.png" width="955" height="544"></img>
      </a>
    </div>
      <div class="row">
        {{> "navbar"}}
      </div>
  </div>
</header>
