<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <a href="{{@blog.url}}">
        <img src="{{asset "images/header.png"}}" width="955" height="544"></img>
      </a>
    </div>
      <div class="row">
        {{> "navbar"}}
      </div>
  </div>
</header>
