{{!-- MORE BLOGS --}}
<h2>Still not Satisfied?</h2>
<p>Check out some other pretty awesome food blogs</p>
<ul class="blog-list">
  <li><a href="http://uppukhara.com">UppuKhara</a></li>
  <li><a href="http://www.loveandlemons.com">Love & Lemons</a></li>
  <li><a href="http://www.minimalistbaker.com">Minimalist Baker</a></li>
  <li><a href="http://www.smitterkitchen.com">Smitten Kitchen</a></li>
  <li><a href="http://www.iamafoodblog.com">I am a food blog</a></li>
  <li><a href="http://www.thebeeroness.com">The Beeroness</a></li>
  <li><a href="http://www.halfbakedharvest.com">Half Baked Harvest</a></li>
  <li><a href="http://www.annies-eats.com">Annie's Eats</a></li>
  <li><a href="http://fragrantvanillacake.blogspot.com">Fragrant Vanilla Cake</a></li>
  <li><a href="http://www.thisrawsomeveganlife.com/">This Rawsome Vegan Life</a></li>
  <li><a href="http://talesofakitchen.com">Tales of a Kitchen</a></li>
  <li><a href="http://www.thefirstmess.com/">The First Mess</a></li>
  <li><a href="http://www.thecookierookie.com">The Cookie Rookie</a></li>
  <li><a href="http://www.mywifesmuffin.ca">My Wife's Muffin</a></li>
</ul>
