{{!-- <div class="alert alert-dismissible animated infinite pulse" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <center>Have you subscribed to our blog yet? If not, you should <a class="alert-link" href="http://eepurl.com/7YH6z">do it now</a> :)</center>
</div> --}}

<h2>Other Blogs</h2>
<ul>
  <li><a href="http://uppukhara.com">UPPUKHARA</a></li>
</ul>
<hr>
<h2><a href="{{@blog.url}}/about">About</a></h2>
<p>
  <strong>Hello and welcome :)</strong>
  This is the blog of Sumu and Anu, wayfaring adventurers and aspiring home cooks.
</p>