{{!-- <div class="alert alert-dismissible animated infinite pulse" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <center>Have you subscribed to our blog yet? If not, you should <a class="alert-link" href="http://eepurl.com/7YH6z">do it now</a> :)</center>
</div> --}}

<h4>Other Blogs</h4>
<ul>
  <li><a href="http://uppukhara.com">UPPUKHARA</a></li>
</ul>