{{!-- SUBSCRIBE --}}
<h2>Don't Fight It</h2>
<p>You know you love us. Just follow your, err, stomach man. Let us fix that rumbly in your tumbly.</p>

<form action="//cookinginpjs.us9.list-manage.com/subscribe/post?u=2aa1dc89f268f2587a11ea242&amp;id=220e63abc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="form-group">
    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Join the dark side!">
  </div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_2aa1dc89f268f2587a11ea242_220e63abc7" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="DO IT" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default animated infinite tada"></div>
</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
