<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <a href="./">
        <%=image_tag("header.png", class:"img-responsive")%>
      </a>
    </div>
      <div class="row">
         <div class="navbar ribbon">
            <div class="navbar-inner ribbon-content border-box">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div><!-- /.navbar -->
      </div>
  </div>
</header>
