<header class="sc">
  <h2 id="alt-h1">
  <a href="/" title="Cooking In Pajamas // It's Bananas; B-A-N-A-N-A-S" rel="home">
    Cooking In Pajamas // It's Bananas; B-A-N-A-N-A-S &raquo;   </a>
</h2>
  <div id="masthead" class="sc">
    <div id="masthead-frame-and-content-wrap">
      <div id="masthead-content">
        <a href="http://www.thefirstmess.com">
          <%=image_tag("header.png", width: "995", height: "544", id:"masthead-img", class:"img-responsive")%>
        </a>
      </div>
    </div>
  </div>
  <nav id="primary-nav" class="centered sc">

    <ul class="primary-nav-menu suckerfish sc">

      <li id="primary_nav_menu_item_5" class="text-about mi-type-internal mi-page mi-anchor-text first-menu-item">


        <a href="http://www.thefirstmess.com/about-2/" class="text-about mi-type-internal mi-page mi-anchor-text first-menu-item">about</a>

      </li>
      <li id="primary_nav_menu_item_7" class="text-subscribe mi-type-container mi-container has-children mi-anchor-text">


        <a href="#" class="text-subscribe mi-type-container mi-container has-children mi-anchor-text" target="_blank">subscribe</a>
        <ul>
          <li id="primary_nav_menu_item_12" class="text-email mi-type-manual mi-anchor-text">


            <a href="http://feedburner.google.com/fb/a/mailverify?uri=TheFirstMess&loc=en_US" class="text-email mi-type-manual mi-anchor-text" target="_blank">email</a>

          </li>
          <li id="primary_nav_menu_item_13" class="text-rss mi-type-manual mi-anchor-text">


            <a href="http://feeds.feedburner.com/TheFirstMess" class="text-rss mi-type-manual mi-anchor-text" target="_blank">RSS</a>

          </li>
        </ul>
      </li>
      <li id="primary_nav_menu_item_22" class="text-recipe-index mi-type-manual mi-anchor-text">


        <a href="http://www.thefirstmess.com/recipe-index/" class="text-recipe-index mi-type-manual mi-anchor-text">recipe index</a>

      </li>
      <li id="primary_nav_menu_item_17" class="text-social mi-type-container mi-container has-children mi-anchor-text">


        <a href="#" class="text-social mi-type-container mi-container has-children mi-anchor-text">social</a>
        <ul>
          <li id="primary_nav_menu_item_18" class="text-facebook mi-type-manual mi-anchor-text">


            <a href="http://www.facebook.com/thefirstmess" class="text-facebook mi-type-manual mi-anchor-text" target="_blank">facebook</a>

          </li>
          <li id="primary_nav_menu_item_19" class="text-twitter mi-type-manual mi-anchor-text">


            <a href="https://twitter.com/laura_mess" class="text-twitter mi-type-manual mi-anchor-text" target="_blank">twitter</a>

          </li>
          <li id="primary_nav_menu_item_20" class="text-instagram mi-type-manual mi-anchor-text">


            <a href="http://instagram.com/thefirstmess" class="text-instagram mi-type-manual mi-anchor-text" target="_blank">instagram</a>

          </li>
          <li id="primary_nav_menu_item_21" class="text-pinterest mi-type-manual mi-anchor-text">


            <a href="http://www.pinterest.com/thefirstmess/" class="text-pinterest mi-type-manual mi-anchor-text" target="_blank">pinterest</a>

          </li>
        </ul>
      </li>
      <li id="primary_nav_menu_item_16" class="text-links mi-type-internal mi-page mi-anchor-text">


        <a href="http://www.thefirstmess.com/links-i-love/" class="text-links mi-type-internal mi-page mi-anchor-text">links</a>

      </li>
      <li id="primary_nav_menu_item_6" class="text-search mi-type-special mi-search has-children mi-anchor-text mi-search-dropdown">


        <a href="#" class="text-search mi-type-special mi-search has-children mi-anchor-text mi-search-dropdown">search</a>
        <ul>
          <form action="http://www.thefirstmess.com" method="get" accept-charset="utf-8">
            <input type="text" name="s" value="" class="nr-text text-input-for-s" size="12" />
            <input type="submit" value="search" class="nr-submit submit-input-for-" />
          </form>
        </ul>
      </li>
      <li id="primary_nav_menu_item_4" class="show-hidden-contact_form text-contact mi-type-special mi-showhidden mi-anchor-text last-menu-item">


        <a href="#ShowHidden" class="show-hidden-contact_form text-contact mi-type-special mi-showhidden mi-anchor-text last-menu-item">contact</a>

      </li>
    </ul>

  </nav>

  <div id="primary-nav-ajax-receptacle" class="nav-ajax-receptacle sc content-bg"></div>
</header>
