<header>
  <div class="container">
    <div id="masthead-frame-and-content-wrap">
      <a href="./">
        <%=image_tag("header.png", class:"img-responsive")%>
      </a>
    </div>
      <div class="row">
        <%= render :partial => 'layouts/navbar' %>
      </div>
  </div>
</header>
