<div class="navbar ribbon">
  <div class="navbar-inner ribbon-content border-box">
    <ul class="nav">
      <li><a href="./" class="active">Home</a></li>
      <li><a href="/herbivores">Herbivores</a></li>
      <li><a href="/carnivores">Carnivores</a></li>
      <!-- <li><a href="/photos">Photos</a></li> -->
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>